.nav-bar-container {
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(225, 225, 225);
}

.header-text {
  height: 100%;
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.icons {
  height: 100%;
  width: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.icons i {
  cursor: pointer;
}

.icons i:hover {
  color: rgb(100, 100, 100);
}

.header-text h1, h3 {
  margin: 0 10px;
}

.canvas-container {
  height: calc(100vh - 80px);
  width: 100%;
  box-sizing: border-box;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  min-height: 600px;
  min-width: 971px;
  box-sizing: border-box;
  border: 1px solid red;
}